@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="padding:15% 0;">
    <div class="col-md-12" style="text-align:center;">
        <img src="~/Images/Logo-MSP-Joined.png" alt="MSP Logo"/>
    </div>
</div>